// font sizes

$font-size-navbar: 20px;
$font-size-navbar-hover: 24px;
$font-size-navbar-large: 24px;
$font-size-navbar-hover-large: 28px;
$font-size-header: 24px;

$font-size-rsvp-section-title: 24px;
$font-size-rsvp-header: 24px;
$font-size-rsvp-header-large: 28px;
$font-size-rsvp-header-small: 20px;

$font-size-rsvp-paragraph: 18px;
$font-size-rsvp-paragraph-large: 22px;
$font-size-rsvp-paragraph-small: 16px;
$font-size-rsvp-button: 18px;
$font-size-rsvp-button-large: 22px;
$font-size-rsvp-button-small: 16px;
// font weights

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;
