@import '../../app/styles/breakpoints';

.schedule {
  overflow-y: scroll;
  height: 100%;

  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    padding-bottom: 0px;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .schedule-image {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
  }
}
