@import '../../app/styles/breakpoints';

.schedule {
  overflow-y: scroll;
  height: 100%;
  margin-top: 100px;
  padding-bottom: 80px;

  @include mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    padding-bottom: 0px;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .schedule-image {
    height: auto;
    max-width: 500px;
    width: 100%;
  }
}
