.about-us {
  height: 100%;
  width: 100%;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0;
    display: none;
  }

  .animation-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.box {
  h1 {
    font-size: 18px;
  }
  height: 50px;
  width: 50px;
  background-color: aquamarine;
}
