@use '../../app/styles/fontSizes' as fontSizes;
@import '../../app/styles/breakpoints';

.about-us {
  color: #163151;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  background-position: right center;

  .vertical-timeline-element-date {
    font-family: 'nickainley';
    font-size: 32px;
  }

  .vertical-timeline-element-content-arrow {
    border-right: 7px solid rgba(255, 255, 255, 0.4);
  }

  .main-image-container {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    img {
      width: auto;
      max-width: 100%;
      max-height: 300px;
      height: auto;
    }
  }

  .title-container {
    font-family: 'nickainley';
    padding: 10px 20px;
    margin: 20px;
    margin-bottom: 0;
    border-radius: 40px;
    background-color: rgba(129, 143, 180, 0.15);

    @media only screen and (min-width: 1170px) {
      display: flex;
      justify-content: center;
      margin: 20px 300px 0px 300px;
    }
  }
  .empty-container {
    font-family: 'nickainley';
    padding: 20px;
    margin: 20px;
    margin-bottom: 0;
    margin-top: 0;
    border-radius: 10px;
    background-color: rgba(79, 111, 82, 0.1);
  }

  .vertical-timeline-element-content {
    margin-bottom: 50px;
    background-color: rgba(white, 0.4);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    border-radius: 30px;
  }

  .vertical-timeline-element-date {
    font-weight: 700;
    opacity: 1;

    &.vertical-timeline--two-columns {
      font-size: 32px !important;
    }
  }

  @media only screen and (min-width: 1170px) {
    .vertical-timeline--two-columns {
      .vertical-timeline-element-date {
        font-weight: 700;

        font-size: 32px !important;
        top: -15px;
      }
    }
  }

  &::-webkit-scrollbar {
    width: 0;
    display: none;
  }

  .animation-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    padding: 0 80px;
  }
}

.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: black;
  bottom: 50px;
}

.vertical-timeline::before {
  /* this is the vertical line */

  background-color: rgba(129, 143, 180, 0.2);
}

.vertical-timeline-element-icon {
  background: rgb(129, 143, 180) !important;
  box-shadow: 0 0 0 4px rgba(79, 111, 82, 0.1);
}

.top-timeline-container {
  margin-top: 30px;
  padding-top: 0;
  padding-bottom: 0;

  @media (max-width: 1169px) {
    .vertical-timeline-element-date {
      padding: 10px 20px;
      border-radius: 25px;
      background: rgba(129, 143, 180, 0.2);
      font-size: 20px;
      margin-top: 10px;
    }
  }
}

.bottom-timeline-container {
  padding: 0;
}

.top-timeline-container {
  .story-container {
    display: flex;
    p {
      flex: 1;
      margin-right: 10px;
    }

    .image-container {
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }

    @include mobile {
      position: relative;
      p {
        margin-bottom: 50px;
      }
      .image-container {
        position: absolute;
        bottom: -30px;
        right: 20px;
      }

      .worldtraveler-image {
        width: 70px;
        height: auto;
      }
    }

    &.kayak-story {
      display: flex;
      flex-direction: column;

      .image-container {
        width: 100%;
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  &.vertical-timeline--two-columns {
    .story-container {
      position: relative;
      p {
        margin-bottom: 70px;
      }
      .image-container {
        position: absolute;
        bottom: -10px;
        right: 0;
      }

      &.baby-photo {
        flex-direction: column;
        p {
          margin-bottom: 10px;
        }

        .image-container {
          position: relative;
          img {
            width: 200px;
            height: auto;
          }
        }
      }

      &.cocktail {
        p {
          margin-bottom: 80px;
        }

        img {
          width: 100px;
          height: auto;
        }
      }

      .worldtraveler-image {
        width: 70px;
        height: auto;
      }
    }
  }
}

.bottom-timeline-container {
  .story-container {
    display: flex;
    flex-direction: column;
    p {
      margin-bottom: 20px;
    }
    .image-container {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      img {
        margin-right: 50px;
        max-width: 100%;
        height: auto;
      }

      @include tablet {
        justify-content: center;
        img {
          margin-right: 0;
        }
      }
    }

    &.shesaidyes {
      .image-container {
        width: 100%;
        justify-content: center;
        img {
          margin: 0;
        }
      }
    }
  }
  .vertical-timeline-element-date {
    padding: 10px 20px;
    border-radius: 25px;
    background: rgba(129, 143, 180, 0.2);
    font-size: 20px;
    margin-top: 10px;
  }

  .final-timeline-element {
    .vertical-timeline-element-content {
      margin-bottom: 0;
    }
  }
}
