@use '../../app/styles/fontSizes' as fontSizes;
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.about-us {
  color: #163151;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  margin-top: 100px;
  .main-image-container {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    img {
      width: auto;
      max-width: 100%;
      max-height: 300px;
      height: auto;
    }
  }

  .title-container {
    font-family: 'nickainley';
    padding: 20px;
    margin: 20px;
    margin-bottom: 0;
    border-radius: 10px;
    background-color: rgba(79, 111, 82, 0.1);

    @media only screen and (min-width: 1170px) {
      display: flex;
      justify-content: center;
      margin: 20px 200px 0px 200px;
    }
  }
  .empty-container {
    font-family: 'nickainley';
    padding: 20px;
    margin: 20px;
    margin-bottom: 0;
    margin-top: 0;
    border-radius: 10px;
    background-color: rgba(79, 111, 82, 0.1);
  }

  .vertical-timeline-element-content {
    margin-bottom: 50px;
    font-family: 'Quicksand', sans-serif;
  }

  .vertical-timeline {
  }
  .vertical-timeline-element-date {
    font-weight: 700;
    opacity: 1;

    &.vertical-timeline--two-columns {
      font-size: fontSizes.$font-size-header !important;
    }
  }

  @media only screen and (min-width: 1170px) {
    .vertical-timeline--two-columns {
      .vertical-timeline-element-date {
        font-weight: 700;

        font-size: fontSizes.$font-size-header !important;
        top: 0;
      }
    }
  }

  &::-webkit-scrollbar {
    width: 0;
    display: none;
  }

  .animation-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    padding: 0 80px;
  }
}

.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: black;
  bottom: 50px;
}

.vertical-timeline::before {
  /* this is the vertical line */

  background: rgba(79, 111, 82, 0.1) !important;
}

.vertical-timeline-element-icon {
  background: rgb(129, 143, 180) !important;
  box-shadow: 0 0 0 4px rgba(79, 111, 82, 0.1);
}

.top-timeline-container {
  margin-top: 30px;
  padding-top: 0;
  padding-bottom: 0;
}

.bottom-timeline-container {
  padding-bottom: 50px;
  padding-top: 0;
}
