@use '../../app/styles/fontSizes' as fontSizes;
@use '../../app/styles/colors' as colors;
@import '../../app/styles/breakpoints';

#navbar {
  display: flex;
  justify-content: space-between;
  height: 30px;
  width: 100%;
  z-index: 11111;
  color: colors.$blueberry-blue;
  position: absolute;
  top: 0;
  transition: 200ms ease;

  &.hidden {
    top: -70px;
  }

  .nav-menu-item {
    line-height: 50px;
    font-size: fontSizes.$font-size-navbar;
    font-weight: fontSizes.$font-weight-bold;
    vertical-align: center;
    white-space: nowrap;
    cursor: pointer;
    flex: 1;
    text-align: center;
    &:hover {
      font-size: fontSizes.$font-size-navbar-hover;
      transition:
        font-size 500ms,
        letter-spacing 500ms;
    }

    transition:
      font-size 500ms,
      letter-spacing 500ms;

    @include tablet {
      font-size: 16px;
    }
  }
}
