@use '../../app/styles/fontSizes' as fontSizes;
@use '../../app/styles/colors' as colors;
@import '../../app/styles/breakpoints';

#navbar {
  display: flex;
  justify-content: space-between;
  height: 30px;
  width: 100%;
  z-index: 11111;
  color: colors.$blueberry-blue;
  position: absolute;
  top: 0;
  transition: 200ms ease;
  font-family: 'nickainley';
  border-bottom: 1px solid rgba(colors.$blueberry-blue, 0.2);
  width: 80%;
  max-width: 1000px;
  height: 70px;

  @media (max-width: 768px) {
    height: 50px;
    width: 100%;
  }

  &.hidden {
    top: -70px;
  }

  .nav-menu-item {
    user-select: none;
    line-height: 70px;
    font-size: fontSizes.$font-size-navbar-large;
    font-weight: fontSizes.$font-weight-bold;
    vertical-align: center;
    white-space: nowrap;
    cursor: pointer;
    flex: 1;
    text-align: center;
    &:hover {
      font-size: fontSizes.$font-size-navbar-hover-large;
      transition:
        font-size 500ms,
        letter-spacing 500ms;
    }

    transition:
      font-size 500ms,
      letter-spacing 500ms;

    @include tablet {
      cursor: default;
      font-size: fontSizes.$font-size-navbar;
      line-height: 50px;
      &:hover {
        font-size: fontSizes.$font-size-navbar-hover;
      }
    }

    @include mobile {
      font-size: 14px;
      &:hover {
        font-size: 16px;
      }
    }
  }
}
