.intro {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background:
    url('../../assets/Blueberry_arrangement_9.png') no-repeat right bottom,
    url('../../assets/Blueberry_arrangement_8.png') no-repeat left top 20%;
  background-size: 200px;
  .intro-image {
    width: 100%;
    height: auto;
    max-width: 550px;
    box-shadow: inset;
  }
}
