body {
  overflow: visible !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.data-container {
  overflow-y: scroll;
  height: 100vh;
}

.filters {
  width: 100%;
  display: flex;
  justify-content: space-around;
  .filter {
    max-width: 250px;
  }
}
.table {
  overflow: scroll;
  width: 100%;
  max-height: 100%;
  overflow: scroll;

  .tableHeader {
    height: 50px;

    th {
      border-bottom: 2px solid black;
    }
  }
  .record {
    width: 100%;
    max-width: 100%;
    text-align: center;
    td {
      min-width: 150px;
      word-break: break-word;
      border-bottom: 1px solid gray;
    }
  }
}
